
<table class="order-items">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Products count</th>
            <th>Title</th>
            <th>Main image</th>
        </tr>
    </thead>
    <tbody>
    {% for orderItem in order.getOrderItems() %}
        <tr class="">
            <td>{{ orderItem.getProductId() }}</td>
            <td>{{ orderItem.getProductsCount() }}</td>
            <td>{{ products[orderItem.getProductId()].title }}</td>
            <td>
                <img src="{{ products[orderItem.getProductId()].image }}" style="max-width: 100px; max-height: 100px;" />
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<a href="{{ path('app_index') }}">For Add new product, go to Home</a>
