{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<div class="example-wrapper container">
    <h1>Orders</h1>

    <a href="{{ path('app_index') }}">Home</a>

    <fieldset>
        <legend>Details:</legend>
        {{ include('orders/edit/details.html.twig') }}
    </fieldset>

    <fieldset>
        <legend>Items:</legend>
        {{ include('orders/edit/items.html.twig') }}
    </fieldset>

    <a href="{{ path('app_orders_index') }}">back to list</a>

    <a href="{{ path('app_orders_edit', {'id': order.id}) }}">edit</a>

    {{ include('orders/_delete_form.html.twig') }}
</div>
{% endblock %}
