{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<div class="example-wrapper container">
    <h1>Orders</h1>

    <a href="{{ path('app_index') }}">Home</a>

    <table class="order-items">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Canceled</th>
                <td>{{ order.canceled }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_orders_index') }}">back to list</a>

    <a href="{{ path('app_orders_edit', {'id': order.id}) }}">edit</a>

    {{ include('orders/_delete_form.html.twig') }}
</div>
{% endblock %}
